<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="logconfig/logback-base.xml"/>
    <logger name="me.yangtao" additivity="false" level="DEBUG">
        <appender-ref ref="appAsync"/>
        <appender-ref ref="errorAsync"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
